<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Kom je?</h2>
                <h3 class="section-subheading">Laat ons weten of je erbij kunt zijn!</h3>
            </div>
        </div>
        <div class="row">
            <form action="https://docs.google.com/forms/d/1GnNUshliKRgM5d9ZgJF8TAmzz79NFmW6eytsqNRLB8s/formResponse" method="POST" id="ss-form" target="_self" onsubmit="" novalidate>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                
                                <input type="text" name="entry.1122164321" value="" class="form-control" placeholder="Naam en voornaam" id="entry_1122164321" dir="auto" aria-label="Naam en voornaam  " title="heuristisch type: UNKNOWN_TYPE
    servertype: NO_SERVER_DATA
    veldhandtekening: 3922823440
    formulierhandtekening: 6871616225361987932
    experiment-id: &quot;&quot;">
                            </div>
                            <div class="form-group">
                               
                                       
                                        <input type="text" name="entry.1470317456" value="" class="form-control" placeholder="e-mail adres" id="entry_1470317456" dir="auto" aria-label="e-mail adres  " title="heuristisch type: EMAIL_ADDRESS
    servertype: NO_SERVER_DATA
    veldhandtekening: 3410294568
    formulierhandtekening: 6871616225361987932
    experiment-id: &quot;&quot;">
                                   
                            </div>
                            <div class="form-group">
                                  
                                        <p><input type="radio" name="entry.606578620" value="Ik zal er zijn!" id="group_606578620_1" role="radio" class="" aria-label="Ik zal er zijn!" title="heuristisch type: UNKNOWN_TYPE
    servertype: NO_SERVER_DATA
    veldhandtekening: 1349036986
    formulierhandtekening: 6871616225361987932
    experiment-id: &quot;&quot;">
                                            Ik zal er zijn!</p>
                                    
                                    
                                    
                                        <p><input type="radio" name="entry.606578620" value="Ik kan er niet bij zijn." id="group_606578620_2" role="radio" class="" aria-label="Ik kan er niet bij zijn." title="heuristisch type: UNKNOWN_TYPE
    servertype: NO_SERVER_DATA
    veldhandtekening: 1349036986
    formulierhandtekening: 6871616225361987932
    experiment-id: &quot;&quot;">
                                            Ik kan er niet bij zijn.</p>
                                        
                                   
                            </div>
                            <div class="form-group">
                                
                                <p>Aantal personen:
                                
                                <select name="entry.329654726" id="entry_329654726" aria-label="Aantal personen  " title="heuristisch type: UNKNOWN_TYPE
    servertype: NO_SERVER_DATA
    veldhandtekening: 1387275610
    formulierhandtekening: 6871616225361987932
    experiment-id: &quot;&quot;"></p>
                                    <option value=""></option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                </select>
                            </div>
                            <!-- <div class="form-group">
                               
                                        <p><input type="checkbox" name="entry.131647167" value="Ik wil ook een Wedpics uitnodiging om foto&#39;s te delen" id="group_131647167_1" role="checkbox" class="" title="heuristisch type: UNKNOWN_TYPE
    servertype: NO_SERVER_DATA
    veldhandtekening: 3440540434
    formulierhandtekening: 6871616225361987932
    experiment-id: &quot;&quot;">
                                            Ik wil ook een Wedpics uitnodiging om foto's te delen</p>
                                        
        
                            </div> -->
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <textarea name="entry.617665435" rows="8" cols="0" class="form-control" placeholder="Boodschap voor Lies en Sander (optioneel)" id="entry_617665435" dir="auto" aria-label="Boodschap voor Lies en Sander (optioneel)  " title="heuristisch type: UNKNOWN_TYPE
    servertype: NO_SERVER_DATA
    veldhandtekening: 365992255
    formulierhandtekening: 6871616225361987932
    experiment-id: &quot;&quot;"></textarea>
                            </div>

                        </div>
                        </div>
                        <div class="row">
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <input type="hidden" name="draftResponse" value="[,,&quot;5291051618323066912&quot;]">
                                <input type="hidden" name="pageHistory" value="0">
                                <input type="hidden" name="fvv" value="0">
                                <input type="hidden" name="fbzx" value="5291051618323066912">
                                <input type="submit" name="submit" value="Verzenden" id="ss-submit" class="btn btn-xl">
                            </div>
                        </div>
            </form>
            
            
            
        </div>

</section>
