<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Concreet</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Wanneer?</h4>
                    <p>28 november 2015. <br><b>Kijk goed op je uitnodiging:</b>
                    <ul>
                    <li><p>Verwachten wij je voor het avondfeest, kom dan om 21u. We voorzien een kaas- en dessertenbuffet.</p></li>
                    <li><p>Verwachten we je ook voor de ceremonie en het diner, dan ben je om 16u al welkom! Wil je de ceremonie bijwonen, kom dan stipt om 16u. Een uurtje later aansluiten kan ook.</p></li>
                    </ul>
                    <p><a href="#contact">Laat ons snel weten of je erbij kan zijn!<br>(vóór 15 november!)</a></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Waar?</h4>
                    <p>Alles vindt plaats in het Kasteel van Hoen (<a class="page-scroll" href="#kaart">kaart</a>)<br>in Geetbets. Stippel <a href="https://www.google.be/maps/dir//Kasteel+Van+Hoen,+Kasteellaan+17,+3450+Geetbets/@50.8989529,5.0679301,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x47c1161df2498c4f:0xaf398f30017e3cbd!2m2!1d5.1417465!2d50.8989762">je route</a> uit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gift fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Kado tip?</h4>
                    <p>Vrijblijvend: centje voor het opkalefateren<br>van onze noormannenstek (BE30 9730 8767 6011).</p>
                </div>
            </div>
        </div>
    </section>
